body {
    background-image: url('https://images.pexels.com/photos/7130466/pexels-photo-7130466.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  form {
    background-color: white;
    border: 2px solid black; 
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


fieldset {
    background-attachment: fixed;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

legend {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}


button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

